/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");
@import "tailwindcss";

@theme {
  --font-jetbrains-mono: "JetBrains Mono", monospace;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-950: #08070b;
  --color-grey-900: #14131b;
  --color-grey-850: #18171f;
  --color-grey-800: #24232c;
  --color-grey-700: #54535b;
  --color-grey-600: #817d92;
  --color-grey-200: #e6e5ea;
  --color-green-200: #a4ffaf;
  --color-yellow-300: #f8cd65;
  --color-orange-400: #fb7c58;
  --color-red-500: #f64a4a;

  --text-preset-1: 32px;
  --text-preset-1--line-height: 42px;
  --text-preset-1--letter-spacing: 0px;
  --text-preset-1--font-weight: 700;

  --text-preset-2: 24px;
  --text-preset-2--line-height: 32px;
  --text-preset-2--letter-spacing: 0px;
  --text-preset-2--font-weight: 700;

  --text-preset-3: 18px;
  --text-preset-3--line-height: 24px;
  --text-preset-3--letter-spacing: 0px;
  --text-preset-3--font-weight: 700;

  --text-preset-4: 16px;
  --text-preset-4--line-height: 20px;
  --text-preset-4--letter-spacing: 0px;
  --text-preset-4--font-weight: 700;
}

@layer base {
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    font-family: var(--font-jetbrains-mono), monospace;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-block-end: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  /* Balance text wrapping on headings */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }

  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }
}

@layer components {
  .card {
    @apply bg-grey-800;
  }
}
